@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');


*{
     font-family: 'Open Sans', sans-serif;
}

html {
	height: 100% !important;
}

body {
	height: 100% !important;
}

.error{
	color:red;
}

.req__Star{
	color: red;
}